sentence-transformers
langchain
langchain_community
PyPDF2 
torch
numpy
tqdm
chromadb
PyMuPDF
redis
msgpack
boto3
botocore
langchain-aws   
pymysql
langchain_chroma
langchain_experimental
langchain-text-splitters
Flask
pandas
mistralai
pymongo
twilio
fastapi
python-multipart
